@font-face {
  font-family: 'VisbyCF Medium';
  src: url("/fonts/VisbyCF-Medium.eot");
  src: url("/fonts/VisbyCF-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/VisbyCF-Medium.ttf") format("truetype"), url("/fonts/VisbyCF-Medium.woff2") format("woff2"), url("/fonts/VisbyCF-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'VisbyCF Regular';
  src: url("/fonts/VisbyCF-Regular.eot");
  src: url("/fonts/VisbyCF-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/VisbyCF-Regular.ttf") format("truetype"), url("/fonts/VisbyCF-Regular.woff2") format("woff2"), url("/fonts/VisbyCF-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Soleil Light';
  src: url("/fonts/Soleil-Light.eot");
  src: url("/fonts/Soleil-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Soleil-Light.ttf") format("truetype"),url("/fonts/Soleil-Light.woff") format("woff");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
font-size: 21px;
}

.container {
  padding-left:20px;
  padding-right: 20px;
}

.bgWrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 40vh;
  text-shadow: 1px 1px 1px #3c5c5e;
}

/* Section Module */

.cta {
  @apply font-display inline-block text-cta mt-16;
}

.display_h2 {
  @apply font-sans text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl;
}
.display_h3 {
  @apply font-sans text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
}

.head_underline {
  @apply w-full h-[2px] mb-7 mt-5 block;
}
.dark {
  @apply bg-gvhBlue-400;
}

.dark p {
  @apply text-gvhGold-100 text-opacity-90;
}

.dark .head_underline {
  @apply bg-gvhGold-100 opacity-50;
}

.dark h2, .dark h3, .dark a {
  @apply text-gvhGold-400
}

.dark h2.here::after{
  content: ".";
  line-height: 0rem;
  @apply font-display_med text-gvhGold-100;
}

.light {
  @apply bg-gvhGold-100;
}

.light p {
  @apply text-gvhBlue-400;
}

.light .head_underline {
  @apply bg-gvhGold-400;
}

.light .display_h3 {
  @apply text-gvhGold-400;
}

.light h2, .light a {
  @apply text-gvhBlue-400;
}
.light h2.here::after{
  content: ".";
  line-height: 0rem;
  @apply font-display_med text-gvhGold-400;
}

.white {
  @apply bg-white;
}


.white p {
  @apply text-gvhBlue-400;
}

.white .head_underline {
  @apply bg-gvhGold-400;
}

.white .display_h3 {
  @apply text-gvhGold-400;
}

.white h2, .white a {
  @apply text-gvhBlue-400;
}
.white h2.here::after{
  content: ".";
  line-height: 0rem;
  @apply font-display_med text-gvhGold-400;
}

.section {
 @apply pt-[60px] pb-[90px]  sm:pt-[110px] sm:pb-[140px] md:pt-[150px] md:pb-[190px] lg:pt-[190px] lg:pb-[240px]
}

/* Images Module */
.here_img {margin-top: 80px; display: block;}
.bl-round {   border-bottom-left-radius: 20% 50% ;}